<!DOCTYPE html>
<html lang={{ data.lang }}>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&amp;display=swap" rel="stylesheet">
        <title>{{ data.head.title | safe }} • {{site.brandName}}</title>
        <link rel="shortcut icon" type="image/x-icon" href="https://d3c39yxulteaif.cloudfront.net/assets/favicon-2d3f077e8794656b33e5ceca2ece83c230427bbf678f32f6589abbe361f909ac.ico">

        {% if data.head.meta.description %}
            <meta name="description" content="{{ data.head.meta.description }}">
        {% endif %}

        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
        {% if site.env === "dev" %}
            <link rel="stylesheet" href="/css/style.css"/>
        {% endif %}

        {% if site.env === "prod" %}
            <!-- capture the CSS content as a Nunjucks variable -->
            {% set css %}
            {% include "../css/style.css" %}
            {% endset %}
            <!-- feed it through our cssmin filter to minify -->
            <style>
                {{css | cssmin | safe}}
            </style>
        {% endif %}
        <script>
            (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push(
                {
                    'gtm.start': new Date().getTime(),event:'gtm.js'
                }
            );
            var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';
                j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;
                f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-KXP9LDD');
        </script>
    </head>
    <body>
        {{ content | safe }}

        <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
        <noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KXP9LDD" height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>
        {% if site.env === "dev" %}
            <script type="text/javascript" src="/js/app.js"></script>
        {% endif %}

        {% if site.env === "prod" %}
            <!-- capture the JS content as a Nunjucks variable -->
            {% set js %}
            {% include "../js/app.js" %}
            {% endset %}
            <!-- feed it through our jsmin filter to minify -->
            <script>
                {{ js | jsmin | safe }}
            </script>
        {% endif %}
    </body>
</html>
