<div class="tc-introduction">
    <div class="tc-container">
        <div class="tc-introduction__logo-container">
            <img class="hide-for-medium" src="/images/terracycle-logo-h55.png" width="81" height="55" alt=""/>
            <img class="show-for-medium" src="/images/terracycle-logo-h100.png" width="146" height="100" alt=""/>
            {% if data.introduction.charityLogoFileName %}
                <img class="hide-for-medium" src="/images/tc-charity-logo-{{data.lang | lower}}/mobile/{{data.introduction.charityLogoFileName}}" alt="" height="{{data.introduction.charityLogoHeight.mobile}}"/>
                <img class="show-for-medium" src="/images/tc-charity-logo-{{data.lang | lower}}/desktop/{{data.introduction.charityLogoFileName}}" alt="" height="{{data.introduction.charityLogoHeight.desktop}}"/>
            {% endif %}
        </div>
        <div class="tc-introduction__inner-container">
            {% for paragraph in data.introduction.paragraphs %}
                <p>{{paragraph | safe}}</p>
            {% endfor %}
        </div>
        <div class="tc-introduction__inner-container tc-introduction__btn-container">
            <a class="tc-btn" href="#tc-widget">
                {% for label in data.introduction.button.label %}
                    <span>{{label}}</span>
                    {% if loop.index > 0 and loop.index < loop.length %}
                        <span>+</span>
                    {% endif %}
                {% endfor %}
            </a>
        </div>
    </div>
</div>
