<div id="tc-widget" class="tc-widget">
    <div class="tc-container">
        <h2 class="tc-h2 tc-widget__h2">{{ data.widgetSection.heading }}</h2>
        {{ data.widgetSection.code | safe }}
    </div>
</div>
