---
layout: base.njk
---

{% include "../../_includes/header.njk" %}
{% include "../../_includes/introduction.njk" %}
{% include "../../_includes/howItWorks.njk" %}
{% include "../../_includes/aboutSection.njk" %}
{% include "../../_includes/exploreWhatYouCanRecycle.njk" %}
{% include "../../_includes/widgetSection.njk" %}
{% include "../../_includes/footer.njk" %}
